
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    body {
      margin: 0;
      padding: 0;
      background: #f1f1f1;
      -webkit-font-smoothing: antialiased;
      font-family: tahomaa,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
    }
    img {
      border: 0;
    }
    .header-con {
      width: 100%;
      background: #fff;
    }
    .header {
      width: 1000px;
      height: 70px;
      line-height: 70px;
      margin: 0 auto;
    }
    .header .logo {
      width: 134px;
      margin-top: 12px;
    }
    .header .email {
      float: right;
      margin-top: 12px;
      color: #333;
    }
    .header .email i {
      display: inline-block;
      width: 24px;
      height: 18px;
      margin-right: 6px;
      vertical-align: -3px;
      background: url(./email.jpg) no-repeat;
    }

    .banner {
      position: relative;
      width: 1200px;
      height: 505px;
      margin: 0 auto;
      text-align: center;
      color: #fff;
    }
    .banner .banner-img {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 1200px;
      /*height: 420px;*/
    }
    .banner .banner-img-1 {
      display: none;
    }
    .banner .title {
      position: absolute;
      top: 150px;
      left: 620px;
      text-align: left;
      margin: 0 auto;
      z-index: 1;
    }
    .banner .title div {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
    .banner .title span {
      display: inline-block;
      font-size: 22px;
      line-height: 16px;
      margin-top: 16px;
    }
    .title .download-box {
      margin-top: 50px;
      font-size: 0;
    }
    .title .download-box a {
      display: inline-block;
      width: 85px;
      height: 100px;
      margin-right: 20px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      text-align: center;
    }
    .title .download-box .web-img {
      margin-right: 0;
    }
    .title .download-box a p {
      -webkit-margin-before: 12px;
      -webkit-margin-after: 0;
    }
    .content-container {
      width: 1200px;
      margin: 0 auto;
      background: #fff;
    }
    .content {
      width: 1000px;
      padding-top: 70px;
      padding-bottom: 45px;
      margin: 0 auto;
      text-align: center;
    }
    .content .content-title {
      display: inline-block;
    }

    .first-letter {
      font-size: 62px;
      color: #6b6b76;
      font-family: Arial;
    }
    .first-letter {
    }
    .title-right {
      display: inline-block;
      color: #6b6b76;
    }
    .title-right-top {
      font-size: 24px;
      letter-spacing: 2px;
    }
    .title-right-bottom {
      display: block;
      font-size: 15px;
      text-align: left;
    }
    .container {
      overflow: auto;
      width: 1000px;
      margin: 0 auto;
      padding-bottom: 70px;
      background: #fff;
    }
    .container-container {
      width: 1200px;
      margin: 0 auto;
      background-color: #fff;
    }
    .container img {
      width: 380px;
      float: left;
    }
    .container > div {
      float: left;
      margin-left: 30px;
    }
    .container > div > p {
      line-height: 13px;
      font-size: 14px;
      color: #333;
    }
    .footer {
      width: 1200px;
      /*height: 60px;*/
      line-height: 25px;
      text-align: center;
      background: #363636;
      padding: 20px 0;
      margin: 0 auto;
      font-size: 12px;
    }

    .footer > .email-link{
      display: none;
      color: #fff;
      text-decoration: none;
    }
    .footer > .company {
      color: #fff;
    }
    .guide {
      display: none;
    }
    @media only screen and (min-width: 959px) {
      .header-con {
        min-width: 1200px;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
      .header, .banner, .banner .banner-img, .container-container, .content-container, .content, .container, .footer {
        width: 100%;
      }
      .header .logo {
        margin-left: 30px;
      }
      .header .email {
        margin-right: 30px;
      }
      .banner {
        height: 323px;
      }
      .banner .title {
        top: 90px;
        left: 480px;
      }
      .banner .title div {
        font-size: 26px;
      }
      .banner .title span {
        font-size: 18px;
      }
      .banner .title .download-box {
        width: 288px;
        margin-top: 30px;
        font-size: 0;
        text-align: center;
      }
      .title .download-box a {
        width: 70px;
        height: 90px;
        margin-right: 15px;
        font-size: 12px;
      }
      .title .download-box a img {
        height: 42px;
      }
      .title .download-box .web-img img {
        height: 36px;
      }
      .title .download-box a p {
        -webkit-margin-before: 10px;
      }
      .container img  {
        float: none;
        display: block;
        margin: auto;
      }
      .container > div {
        float: none;
        text-align: center;
        margin-top: 50px;
      }
    }

    @media only screen and (max-width: 767px) {
      .header, .banner, .container-container, .content-container, .content, .container, .footer {
        width: 100%;
      }
      .banner {
        height: 100%;
        overflow: hidden;
      }
      .banner .banner-img {
        display: none;
      }
      .banner .banner-img-1 {
        display: block;
        width: 100%;
        height: 100%;
      }
      .banner .title {
        top: 45%;
        left: 20%;
        width: 260px;
      }
      .banner .title div {
        font-size: 24px;
      }
      .banner .title span {
        font-size: 16px;
      }
      .banner .title .download-box {
        margin-top: 40px;
        font-size: 0;
      }
      .title .download-box a {
        display: block;
        width: 170px;
        height: 52px;
        margin: 0 auto 15px;
        background: rgba(0, 0, 0, 0.6);
        font-size: 0;
        border-radius: 4px;
      }

      .title .download-box .web-img {
        display: none;
      }
      .title .download-box a span {
        display: inline-block;
        width: 28px;
        margin-right: 8px;
        margin-top: 0;
        text-align: left;
      }
      .title .download-box a img {
        height: 32px;
        vertical-align: middle;
      }
      .title .download-box a p {
        display: inline-block;
        font-size: 18px;
        line-height: 52px;
        -webkit-margin-before: 0;
      }
      .header .email {
        display: none;
      }
      .header .logo {
        margin-left: 20px;
      }
      .content {
        padding-top: 50px;
      }
      .container {
        position: relative;
      }
      .container img {
        width: 80%;
        float: none;
        display: block;
        margin: auto;
      }
      .container > div {
        float: none;
        margin-top: 30px;
        margin-left: 0;
        padding: 0 18px;
      }
      .container p {
        margin-top: 0;
        margin-bottom: 10px;
      }
      .container > div > p {
        line-height: 22px;
      }
      .container > div > p:last-child {
        text-align: right;
      }
      .footer > a.email-link {
        display: block;
      }
      .guide {
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.65);
        z-index: 100;
      }
      .guide div {
        width: 100%;
        height: 100%;
      }
      #ios-guide div {
        background: url(./ios_guide.png) no-repeat;
        background-size: 100%;
      }
      #android-guide div {
        background: url(./android_guide.png) no-repeat;
        background-size: 100%;
      }
    }
